<div class="events-show">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
  
      <%= form_for(@photo) do |f| %>
        <%= render("shared/error.messages", object: f.object) %>
        
        <%= f.hidden_field :event_id, :value => current_event.id %>
      　<%= f.file_field :image %>
      　<%= f.submit "写真を投稿する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  
  <!--写真一覧-->
  <% @photos.each do |photo| %>
    <div class="thumbnail">
        <%= link_to image_tag(photo.image.thumb.url), photo %>
　      <!--".url"は、carrierwaveが自動的に、photo(モデル名).image(カラム名)で持ってきたオブジェクトをURLにするもの-->
　   </div>
  <% end %>

  <% if logged_in? %>
    <div class="delete">
      <%= link_to("このイベントを削除する", event_path(current_event), method: :delete, 
                                                    #current_event必要！！
                                                    #{method: "delete"}だとconfirmつけたらエラーになった
          data: { confirm: '削除すると元には戻せません。本当に削除しますか?' })%>
      <!--ここはまだcurrent_eventは削除されていなくて、削除するアクションへのリンクをつけてあげているだけ。
          どのアクションを消すのか教えてあげないと、destroyアクションには伝わらない。
          destroyアクションでは　URLに含まれている :idの値を持つeventレコードを削除した後に、
          redirect_to events_path(イベント一覧ページ)をしているので、特にcurrent_eventを使うところはない。 -->
    </div>
  <% end %>
  
  <% if guest_logged_in? && !logged_in? %>
    <div class="delete">
      <%= link_to("ゲストログアウトする", logout_event_path, method: :delete) %>
    </div>
  <% end %>
</div>