<li>写真を投稿する</li>
<div class="uploading-photos">
  <%= form_for(@photo) do |f| %>
    <%= render("shared/error.messages", object: f.object) %>
  <span class="picture">
    <%= f.hidden_field :event_id, :value => current_event.id %>
    <%= f.file_field :image %>
  </span>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>

<li>写真一覧</li>
<% @photos.each do |photo| %>
 <%= image_tag(photo.image.url) %>
　<!--".url"は、carrierwaveが自動的に、photo.imageで持ってきたオブジェクトをURLにするもの-->
<% end %>
