<div class="events-show">
  <h1><%= current_event.description if current_event.description.present? %></h1>
  
  <% if logged_in? %>
    <div class="share">
      <h2>フォトアルバムを共有する(以下の情報をゲストにお伝えください)</h2>
        <p><%= request.url %>/login<br>
           ゲストパスワード：<%= current_event.guest_password %></p>
        
      <h2>OR</h2>  
      <%= link_to("このフォトアルバムを削除する", event_path(current_event.name), method: :delete, 
                                                    #current_event必要！！
                                                    #{method: "delete"}だとconfirmつけたらエラーになった
          data: { confirm: '削除すると元には戻せません。本当に削除しますか?' })%>
      <!--ここはまだcurrent_eventは削除されていなくて、削除するアクションへのリンクをつけてあげているだけ。
          どのアクションを消すのか教えてあげないと、destroyアクションには伝わらない。
          destroyアクションでは　URLに含まれている :idの値を持つeventレコードを削除した後に、
          redirect_to events_path(イベント一覧ページ)をしているので、特にcurrent_eventを使うところはない。 -->
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for [@event, @photo] do |f| %>
        <%= render("shared/error.messages", object: f.object) %>
        
        <%= f.hidden_field :event_id, :value => current_event.id %>
        <%= f.hidden_field :event_name, :value => current_event.name %>
      　<%= f.file_field :image %>
      　<%= f.submit "写真を投稿する", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  
  <!--写真一覧-->
  <% @photos.each do |photo| %>
    <div class="thumbnail">
        <%= link_to image_tag(photo.image.thumb.url), photo %>
　      <!--".url"は、carrierwaveが自動的に、photo(モデル名).image(カラム名)で持ってきたオブジェクトをURLにするもの-->
　   </div>
  <% end %>